<h1>Payment Calculation Results</h1>


<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @APR %>%
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @years %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= @pv_formatted %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
</dl>


<%= link_to "Back to Payment Calculator", new_payment_path %>
